/* File: src/components/CommercialBuilding.css */

.commercial-building {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

.breadcrumb {
  color: #6c757d;
  margin-bottom: 10px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 20px;

}
.text p  {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
 color: #49423D;

}

.image img {
  max-width: 100%;
  height: auto;

}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .text {
    flex: 1;
    margin-right: 20px;
  }

  .image {
    flex: 1;
  }
}
/* src/HouseGrid.css */
.house-grid-container {
max-width: 1600px;


width: 100%;
font-family: Arial, sans-serif;
}




.header p {
font-size: 1.2em;
color: green;
}

.house-grid {
display: flex;
flex-wrap: wrap;
max-width: 1600px;
gap: 30px;
width: 100%;
justify-content: center;
/* align-items: center; */
}

.house-card {
background: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
overflow: hidden;
max-width: 400px;
width: 100%;
text-align: left;
display: flex;
flex-direction: column;

}

.house-image {
width: 100%;
height: 300px;
}

.house-info {
padding: 15px;
}

.house-info h2 {
font-size: 1.5em;
margin-bottom: 10px;
}

.house-info p {
font-size: 1em;
margin-bottom: 5px;
}

.price {
font-size: 1.2em;
color: green;
font-weight: bold;
}

.pagination {
display: flex;
justify-content: center;
margin: 20px 0;
}

.pagination button {
background: none;
border: none;
color: green;
font-size: 1.2em;
cursor: pointer;
margin: 0 5px;
}

.filter-button {
display: block;
width: 100%;
max-width: 300px;
margin: 0 auto;
padding: 10px;
background-color: #8bc34a;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 1.2em;
}

@media (max-width: 768px) {
.house-grid {
  flex-direction: column;
  align-items: center;
}

.house-card {
  margin-bottom: 20px;
}
}



/* two section  */
/* src/Recommendations.css */
.recommendations-container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
font-family: Arial, sans-serif;
}

.recommendations-container h1 {
font-size: 2.5em;
text-align: center;
margin-bottom: 20px;
}

.recommendations-grid {
display: flex;
gap: 20px;
overflow-x: auto;
padding: 20px 0;
}

.recommendation-card {
background: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
overflow: hidden;
min-width: 250px;
text-align: left;
display: flex;
flex-direction: column;
align-items: center;
flex: none;
}

.recommendation-image {
width: 100%;
height: auto;
}

.recommendation-info {
padding: 10px;
}

.recommendation-info h2 {
font-size: 1.2em;
margin: 0;
}

@media (max-width: 768px) {
.recommendations-grid {
  flex-direction: column;
  align-items: center;
}

.recommendation-card {
  margin-bottom: 20px;
}
}
